<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="searchable-userlist-table">
      <header>
        <h1 class="searchable-userlist-table">Github Stars</h1>
      </header>

      <nav>
        <div class="search-tab">
          <div class="tab">api</div>
          <div class="tab">로컬</div>
        </div>
        <div class="search-bar">
          <input class="search-input" type=text" placeholder="검색어를
          입력하세요">
          <img class="search-icon" />
        </div>
      </nav>

      <main>
        <div class="userlist-table">
          <div class="userlist-row">
            <h3 class="userlist-row-title"></h3>
            <div class="user-row"></div>
            <div class="user-row"></div>
          </div>
          <div class="userlist-row">
            <h3 class="userlist-row-title"></h3>
            <div class="user-row"></div>
            <div class="user-row"></div>
          </div>
          <div class="userlist-row">
            <h3 class="userlist-row-title"></h3>
            <div class="user-row"></div>
            <div class="user-row"></div>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
